.carousel{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-items: center;
}

.card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin: 10px;
  padding: 20 px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 200px;
}

