.carousel{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
}

.card {
  flex: 0 0 auto;  
  margin: 10px;  
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  }
.card img {
  
  height: 300px;
  width: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.card button{
  width: 50%;
  margin: auto;
  margin-bottom: 3px;
}

.pie{
  display: flexbox;
}

.pie i{
  size: 20px;
}






