body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/908/304/non_2x/space-background-with-particle-stars-backgroumd-free-photo.jpg");
}

.favorite-icon {
    cursor: pointer;
    font-size: 24px;
}


.fa-solid.fa-heart {
    color: #f7bf07d2;
    
}

.fa-regular.fa-heart {
    color: #1b1b1b;
}